html { 
    background-image: url("../images/crossline-dots.png");
    height: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777777;
    position: relative;
    min-height: 100%;
   
}

body::after {
    content: "";
    display: block;
    height: 50px;
}

/* header area */
header {
    background-color: #ffffff;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 25px;
    border-bottom: solid #cccccc .5px;
    height: 100px;
}

.header-box {
    width: 911px;
    margin: 0 auto;
    position: relative;
}

ul {
    position: absolute;
    right: -24px;
    top: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    font-size: 14px;
}

.nav {
    display: block;
    padding: 3px 8px;
    text-decoration: none;
    color: #777777;
    opacity: .8;
}

.nav:hover {
    color: #ffffff;
    background-color: #4aaaa5;
}

#portfolio {
    border-left: .1px solid #dddddd;
    border-right: .1px solid #dddddd;
}


h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 360px;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
    padding: 15px;
    position: relative;
    top: 34px;
    left: -24px;
}

/* main body */
main {
    width: 909px;
    background-color: #ffffff;
    border: .5px solid #dddddd;
    position: relative;
    margin: 0 auto;
    padding: 25px;
    height: 100%;
    margin-bottom: 70px;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
   color: #4aaaa5;
   border-bottom: solid #dddddd 2px;
   padding-bottom: 20px;
}
/* bio content */
.photo {
    float: left;
    margin-right: 20px;
    position: relative;
}

p {
    padding: 20px;
    line-height: 1.5;
}
/* form content */
input {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    box-sizing: border-box;
}


textarea {
    width: 100%;
    height: 200px;
    border: .3px solid #cccccc;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    box-sizing: border-box;
}

button {
    width: 80px;
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}

/* portfolio content area */

.gallery::after {
    content: "";
    display: block;
    clear: both;
}

.project {
    float: left;
    margin: 15px;
    position: relative;
    text-decoration: none;
}

.project:hover {
    opacity: .6;
}

.Project_title {
    display: block;
    height: 12px;
    padding: 12px 12px 20px 12px;
    text-align: center;
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    bottom: 80px;
}

/* footer area */
footer {
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 45px;
    position: absolute;
    bottom: -10px;  
}

.copy {
    font-size: 10px;
    text-align: center;
    color: #dddddd;
    position: relative;
    bottom: -25px;
}